node_modules/
apps/*/node_modules/
libs/*/node_modules/

dist/
apps/*/dist/
libs/*/dist/

Gemini.md
Claude.md

coverage/
apps/**/coverage/
libs/**/coverage/

**/*/.env

.vscode/
.idea/
**/*/.vscode/
**/*/.idea/

logs/
*.log
.parcel-cache/

.env.local
.env.development.local
.env.test.local
.env.production.local

*/*/out/
*/*/.expo/
*/*/web-build/
*/*/android/
*/*/ios
*/*/expo-env.d.ts
*/*/app-example

*/*/.kotlin/
*/.orig.*
*/.jks
*/.p8
*/.p12
*/.key
*/.mobileprovision

# Metro
*.metro-health-check*

# debug
*/npm-debug.*
*/yarn-debug.*
*/yarn-error.*

*/.DS_Store
*/.pem

# local env files
*.env*.local

# typescript
*.tsbuildinfo


*.sqlite
*.sql

*.tsbuildinfo
